html {
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#main-container{
    /* box-sizing: content-box; */
    
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 960px;
    /* border:3px solid blue; */
    margin: 0;
    align-content: flex-start;
    padding: 0;
    margin: auto;
    
}

.square-grid{
    border: 1px solid lightgray;
    
    flex: 1 1 auto;
    
}

h1{
    text-align: center;
    margin: 64px;
}